@font-face {
  font-family: "Glyphicons Halflings";
  src: url(../glyphicons-halflings-regular.ttf);
}

* { box-sizing: border-box; }

html { 
  height: 100%;
  background: #00bfff;
}

body {
  background: #00bfff !important;
  font-family: Arial;
  height: 100%;
  max-width: 80%;
  margin: auto !important;
}

#logo { text-align: center; }

#logo img { 
  height: auto;
  max-width: 25rem;
  width: 100%;
}

/* Style the top navigation bar */

.container { width: auto !important; }

.navbar {
  border: 0;
  text-align: center;
  letter-spacing: 4px;
  z-index: 9999;

}

.navbar-brand > img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}
.navbar-nav > li {
  display: inline-block !important;
  float: none !important;
}

.navbar-header h1 {
  letter-spacing: 1px;
  color: black !important;
  font-family: 'Lobster Two', cursive;
}

.navbar-collapse { 
}

.navbar ul {
  margin: auto;
  width: 100%;  
}

.navbar li a, .navbar {
    color: black !important;
    font-size: 12px;
    transition: all 0.6s 0s;
}

.navbar-toggle {
    background-color: transparent !important;
    border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #00bffe !important;
}

.card {
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.24);

}

.card > img { 
  object-fit: cover;
  height: auto;
  min-height: 50vh;
  width: 100%; 
}

#map { height: 70vh; }

iframe {
  height: 100%;
  width: 100%;
}

.clientes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  /*grid-template-rows: repeat(8, 5vw);*/
  grid-gap: 10px;
  padding: 15px;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}


/* Footer */
footer {
  color: white;
  padding: 10px 0 0 0;
  text-align: center;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer a { 
  color: #2168a6;
  font-weight: lighter; 
} 
footer div:nth-child(-n+2) { 
  padding: 0 1rem;
  text-align: center;
}
#copy { 
  font-size: 0.9rem;
  margin-top: 2rem;
  width: 100%;
}

.flex-container {
  display: flex;
  font-size: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  padding: 1px;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media only screen and (max-width: 768px) {
  nav a {
    float: none;
    width: 100%;
  }
  
  .navbar-nav > li { 
    display: block !important; 
  }

  .flex-container { font-size: 1rem !important; }

  h5 { font-size: 1.3rem !important; }

  body { max-width: 100%; }
}
